* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #121212;
    color: #ffffff;
}

h1 {
    opacity: 90%;
}

p {
    opacity: 60%
}

.navbar {
    background-color: #121212;
    padding-top: 2%;
    text-align: right;
}

.navbar a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    
}

.navbar a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background:#dfbd69;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;

}

.navbar a:hover:after {
    width: 100%;
    left:0;
}

#welcome {
    font-size: 3em;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 30%;
}

#welcomeName {
    color: #dfbd69;
}
